:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);;
    --White: hsl(0, 0%, 100%);

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
body, html {
  font-family: 'Outfit', sans-serif;
  height: 100%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */

}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content	: center;
    align-items	:center ;
    align-content: center;
    background:var(--main-bg);
    height: 100%;

}

.flex-item {
	order: 0;
    display: flex;
    flex: 0 1 auto;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;	
    background-color: var(--card-bg);
    width: 19.5%;
    border-radius: 13px;
    -webkit-box-shadow: 0px 0px 26px 23px rgba(12,23,41,0.75);
  -moz-box-shadow: 0px 0px 26px 23px rgba(12,23,41,0.75);
  box-shadow: 0px 0px 26px 23px rgba(12,23,41,0.75);
    
}

.one {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.two {
    display: flex;
    flex-direction: row;
    width: 100%;
} 

.three {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding-left: 7%;
    padding-bottom: 25px;
}

.ether {
    width:88%;
    border-radius: 7px;
    margin: 6% auto;
}

h3 {
    color: var(--White);
    font-weight: 400;
    font-size: 18px;
    margin: 1% 7%;
}

p.explain {
    color: var(--soft-blue);
    font-weight: 200;
    font-size: 16px;
    margin: 4% 7%;
}

p.left.eth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    color: var(--cyan);
    font-size: 12px;
    
}

p.right.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 36%;
    color: var(--soft-blue);
    font-size: 12px;
}

.icons {
    padding-right: 6px;
    width: 13.5px;
}

.clock {
    padding-right: 3px;
    width: 16px;
}

img.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 27px;
    border: 1px solid var(--White);
    border-radius: 50%;
}

p.userinfo {
    padding-left: 4%;
    font-size: 13px;
    font-weight: 300;
    color: var(--soft-blue);
    display: flex;
    align-items: center;
}
hr.solid {
    border: 0.1px solid hsl(215deg 100% 95% / 14%);
    width: 86%;
    margin: 14px;
}
  
a.name { 
    font-size: 12px;
    font-weight: 400;
    margin-left: 6px;
    letter-spacing: .55px;
    color: var(--White);
}

@media only screen and (max-width: 500px) {
    .flex-item {
        width: 88%;
}

    p.explain {
        font-size: 18px;
        margin: 2% 6%;
    }

    p.right.time {
        margin-left: 51%;
        font-size: 14px;
    }

    .two {
        margin: 10px;
    }

    p.left.eth {
        margin-left: 6%;
        font-size: 13px;
    }
}